html {
    width: 100%;
    height: 100%;
}

body {
    background-color:#6fb3b8;
    width: 100%;
    height: 100%;
    margin: 0;
}

#shapeAroundBoard {
    position: relative;
    width: 100%;
    height: 100%;
}

#board {
    position: relative;
}

#game {
    position: relative;
}

#playingArea {
    position: relative;
}

#PromoDiv {
    position: absolute;
}

.piece {
    position: absolute;
}

.promo {
    position: relative;
}

#result {
    padding: 5px;
}

#gameover {
    position: relative;
    padding: 10px;
    margin: auto;
    top: 37.5%;
    left: 37.5%;
    background-color:#BADFE7;
    border-radius:25px;
}

#homeNewGameButtons {
    position: relative;
    padding: 5px;
    background-color:#BADFE7;
}

#result {
    position: relative;
    text-align: center;
}

#home {
    position: relative;
    box-sizing: border-box;
    display:inline-block;
    background-color:#388087;
    color:#f8f8ff;
}

#newgame {
    position: relative;
    float: right;
    box-sizing: border-box;
    background-color:#388087;
    color:#f8f8ff;
}




#accountoptions {
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    margin: 10px;
}

#currentuser {
    position: relative;
    text-align: center;
    align-self: center;
    font-size: 20px;
    margin: 0;
}

#logout {
    position: relative;
    text-align: center;
    align-self: center;
    font-size: 10px;
    margin: 0;
}