html {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color:#badfe7;
}

#accountoptions {
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    margin: 10px;
}

#currentuser {
    position: relative;
    text-align: center;
    align-self: center;
    font-size: 20px;
    margin: 0;
}

#logout {
    position: relative;
    text-align: center;
    align-self: center;
    font-size: 10px;
    margin: 0;
    background-color:#f6f6f2;
    color:black;
    font-family: 'Nova Round', cursive;
}
#logout:hover{
    cursor: pointer;
}

#playbutton {
    position: relative;
    top: 50%;
    left: 50%;
    background-color:#f6f6f2;
    color:black;
    font-family: 'Nova Round', cursive;
}
#playbutton:hover{
    cursor: pointer;
}

.line {
    position: relative;
    width: 20px;
    height: 100%;
    top: 0;
    left: 0px;
    background-color:#388087;
    display: inline-block;
}

#lines {
    position: absolute;
    top: -116px;
    left: -70px;
    width: 70px;
    height: 400px;
    transform-origin: bottom right;
    transform: rotate(45deg);
}
