html {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color:#f6f6f2;
}

#loginBox {
    padding: 10px;
    margin: auto;
    position: absolute;
    top: 37.5%;
    left: 37.5%;
    background-color:#BADFE7;
    border-radius: 15px;
}

#loginForm {
    padding: 5px;
}

#username {
    margin-bottom: 5px;
    position: relative;
    width: 100%;
    box-sizing: border-box;

}

#password {
    margin-top: 5px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#loginregisterbuttons {
    position: relative;
    padding: 5px;
    background-color:#BADFE7;
}

#login {
    position: relative;
    box-sizing: border-box;
    display:inline-block;
    background-color:#388087;
    color:#f8f8ff;
}

#register {
    position: relative;
    float: right;
    box-sizing: border-box;
    background-color:#388087;
    color:#f8f8ff;
}

.dot {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 50px;
    left: 50px;
    background-color: #388087;
    border-radius: 50%;
    display: inline-block;
}

#dot1 {
    height: 50px;
    width: 50px;
    top: 50px;
    left: 50px;
}

#dot2 {
    top: 19px;
    left: 60px;
}

#dot3 {
    top: 63px;
    left: 10px;
}

#dot4{
    top: 29px;
    left: 16px;
}
  